{% extends 'base.html' %}
{% block title %}about{% endblock title %}
{% block body %}
<div class="container"my-4>
    <img src="/static/img/about2.jpg" class="d-block w-100" alt="..." width="500" height="500">
    <h2 class=text-center my-4 mx-2> About Us </h2>
 <p> Abhishek icecream

    We’re hitched and eat plentiful measures of frozen yogurt. We’d cheerfully have a scoop for breakfast, lunch and supper on the off chance that we could.
    
    The owner’s family has been in the frozen yogurt business for more than 35 years yet it’s dependably been our fantasy to have our very own position: a shop where we could make natively constructed dessert with just the most noteworthy quality fixings.
    
    We invested years testing and adjusting formulas as we gained from dessert experts from far away terrains, for example, Reading and Nottinghamshire. Fortunately, our family and companions were willing guineas pigs to all the test flavors we attempted.
    
    We authoritatively opened ‘Abhishek's icecream’ in October 2013 on Upper Street in Banglore.
    
    The imperative piece: the frozen yogurt and sorbets Our frozen yogurt and sorbets are for the most part carefully assembled in-store. Our dessert is purified, whisked, poured, beat, and solidified with affection and care. Each bunch is submitted to our extremely strict quality control test. Truly, we do imply that we sneak a taste each and every time.
    
    To ensure you get just the well done with each and every lick, we’re focused on utilizing the best fixings. That incorporates unicorn tears, cloud giggling and vanilla… well that is not so much evidence, we don’t generally utilize vanilla.</p>

{% endblock body %}